*{
    margin: 0%;
    padding: 0%;
}

.container {
    width: 100%;
    margin: auto;
}

body{
    background-color: #f1c6c6;
    margin: 0%;
}

p{
    font-family: 'PT Sans Narrow', sans-serif;
    padding: 5%;
}

.back{
    margin-left: 0%;
    width: 10%;
}

.footer{
    background: rgb(10, 10, 10);
    color: white;
    text-align: center;
    padding: 10px 0;
    font-family: 'PT Sans Narrow', sans-serif;
    position: absolute;
    bottom: 0;
    width: 100%;
}
